body
{
		color:		darkblue;
		font-family:	sans-serif;
}
td#day
{
		text-align:	center;
		color:		darkblue;
		font-style:	bold, italic;
}
td#birthday
{
		color:		red;
		font-style:	bold;
		text-align:	center;
		valign:		middle;
		height:		20px;
		background-color: lightgrey
}
td#any_day
{
		color:		darkgrey;
		text-align:	center;
		valign:		middle;
		height:		20px;
}
table#calendar
{
		width:		500px;
		border:		5px;
		padding:	5px;
}
tr#calendar_header
{
 		width:		500px;
 		text-align:	center;
		color:		darkblue;
		font-style:	bold;
}
 