 		body
		{
			font-family:			Arial, Helvetica, sans-serif;		
			background-color:		lightgrey;
			
		}

		h3
 		{
			color:		orange;
			font-style:	italic;
			border:		2px groove lightgrey;  		 		
 		}
		h2
		{
			color:		darkblue;
		}
		h2
		{
			color:		black;
		}
 		h3#calendar
 		{
 			color: 		darkblue;
			border:		2px groove darkblue; 
 		}

 		h3#post_lotto
 		{
 			color:		darkblue;
 			font-style:	italic;
 		}
 		
 		h3#table_day
 		{
 			color:		darkblue;
 			font-style:	italic;
 		}

   		h2#the_main_header
		{
			color:				darkblue;
			font-weight:			bold;
			border:				1px solid darkblue;
			background-color:		lightgrey;
		}		

   		table
 		{
 			border:		1px solid black;
 			color:		darkblue;
    		}
 
 		tr:nth-child(even){
 			background-color:	lightgrey;
 		}
 